{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.titre }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                    <a href="{{ path("modifier_categories",{"id":categorie.id}) }}"
                       class="btn btn-primary">
                        Modifier</a>
                    <a href="{{ path("delete_categories",{"id":categorie.id}) }}"
                       class="btn btn-danger">
                        Suprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>


    </table>
    <a href="{{ path("ajouter_categories") }}"
       class="btn btn-success">
        ajouter</a>


{% endblock %}